.App {
  text-align: center;
}

.converter {
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: flex-start;

}

.editor,
.preview {
  flex: 1;
  padding: 20px;
}


h1,
h2 {
  color: #333;
}

textarea {
  min-height: 300px;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

.preview-content {
  text-align: left;
}
